@charset "utf-8";
/* CSS Document */

#button {
	width:160px;
	line-height:40px;
	font-size:18px;
	color:#fff;
	background-color:#2598c7;
	text-align:center;
	margin:20px auto;
	border-radius:8px;
	cursor:pointer;
}

#section {
	width:400px;
	margin:40px auto;
}
#section h3 {
	width:80px;
	text-align:justify;
	text-align-last:justify;
	font-size:16px;
	line-height:30px;
	color:#646464;
	font-weight:normal;
	float:left;
	margin:10px 0px;
}
#section h3 del {
	font-size:16px;
	line-height:30px;
	color:rgba(0,0,0,0);
	margin:10px 0px;
}
#section select {
	display:inline-block;
	font-size:14px;
	width:100px;
	height:30px;
	line-height:30px;
	border:1px solid #00b7ee;
	margin:6px 0px 0px;
}
#section .marg {
	margin:6px 7px 0px;
}
#section input[type = tel],#section input[type = text] {
	width:320px;
	height:30px;
	border:1px solid #00b7ee;
	margin:10px 0px;
	display:inline-block;
	float:left;
}
#section input[type = radio] {
	width:14px;
	height:14px;
	margin:17px 0px;
	display:inline-block;
	line-height:24px;
	float:left;
}
#section span {
	line-height:30px;
	font-size:14px;
	float:left;
	margin:10px 4px;
}














